In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
# Database connection details
source_db_config = {
    'user': 'root',
    'password': '',
    'host': 'localhost',
    'database': ''
}

In [13]:
# Connect to source using SQLAlchemy
source_engine = create_engine(f"mysql+pymysql://{source_db_config['user']}:{source_db_config['password']}@{source_db_config['host']}/{source_db_config['database']}")

In [15]:
hiv_query = "SELECT * FROM report.investigation_register"

In [18]:
#hts_register_df['hts_date'] = pd.to_datetime(hts_register_df['hts_date']).dt.date
hiv_df = pd.read_sql(hiv_query, source_engine)

In [19]:
hiv_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2188 entries, 0 to 2187
Data columns (total 21 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   laboratory_investigation_id  2188 non-null   object
 1   date                         2188 non-null   object
 2   investigation_id             2188 non-null   object
 3   investigation_type           2188 non-null   object
 4   month                        2188 non-null   int64
 5   note                         0 non-null      object
 6   patient_id                   1910 non-null   object
 7   person_id                    2188 non-null   object
 8   result                       2061 non-null   object
 9   result_date                  24 non-null     object
 10  result_issued                24 non-null     object
 11  sample_id                    2188 non-null   object
 12  sample                       2188 non-null   object
 13  site_id                      1960 non-null   object
 14  status                       48 non-null     object
 15  test_id                      2188 non-null   object
 16  test                         2188 non-null   object
 17  year                         2188 non-null   int64
 18  date_result_issued           16 non-null     object
 19  facility_id                  0 non-null      object
 20  facility_name                0 non-null      object
dtypes: int64(2), object(19)
memory usage: 359.1+ KB

In [12]:
mysql_data_types = {
        'int64': 'INT',
        'float64': 'FLOAT',
        'bool': 'TINYINT(1)',  # Assuming boolean values
        'category': 'VARCHAR(255)',  # Assuming category type is stored as string
        'object': 'VARCHAR(255)',
        'datetime64[ns]': 'DATETIME',  # Changed from DATE to DATETIME to accommodate time as well
        'date': 'DATE',  # Explicitly mapping pandas date type to MySQL DATE type
        'timedelta64[ns]': 'TIME',  # Handling timedelta for time-only fields
        'str': 'VARCHAR(255)',  # Added explicit mapping for string type
        'np.datetime64': 'DATETIME',  # Explicitly handling numpy datetime objects
        'np.timedelta64': 'TIME'  # Explicitly handling numpy timedelta objects
    }

In [13]:
columns = ", ".join([f"{col} {mysql_data_types[str(hts_register_df[col].dtype)]}" for col in hts_register_df.columns])

In [14]:
columns

'hts_id VARCHAR(255), site_id VARCHAR(255), already_on_art TINYINT(1), already_positive TINYINT(1), approach VARCHAR(255), client_assisted_self_test TINYINT(1), client_profile VARCHAR(255), client_tested_on_site TINYINT(1), couple TINYINT(1), date VARCHAR(255), group_education TINYINT(1), htc_model VARCHAR(255), hts_model_sub_type VARCHAR(255), lactating TINYINT(1), opt TINYINT(1), patient_id VARCHAR(255), person_id VARCHAR(255), post_test_counselling TINYINT(1), pre_test_counselling TINYINT(1), pregnancytest VARCHAR(255), pregnant TINYINT(1), rbf_number VARCHAR(255), reason_for_not_initiating_art VARCHAR(255), reason_for_not_issuing_result VARCHAR(255), reason_for_not_performing_test VARCHAR(255), refered_service VARCHAR(255), result VARCHAR(255), results_issued TINYINT(1), retest TINYINT(1), test_purpose VARCHAR(255), test_type VARCHAR(255), time DATETIME, partner_person_id VARCHAR(255), laboratory_investigation_id VARCHAR(255), linkages VARCHAR(255), consent_to_index_testing VARCHAR(255), hts_number VARCHAR(255), is_index_contact VARCHAR(255), logged_in_user VARCHAR(255), care_giver_result_date VARCHAR(255), client_disclosed_result VARCHAR(255), note VARCHAR(255), test_kit_distributor VARCHAR(255), hts_date VARCHAR(255)'